.table-wrapper {  
  background: #ffffff; /* white background */
  padding: 20px;
  border-radius: 14px;
  border: 1px solid #dfe3e8;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 4px 12px rgba(150, 160, 180, 0.1);
}

/* Search + Buttons */
.table-wrapper button {
  padding: 6px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  border: none;
  transition: 0.25s;
  font-weight: 500;
  height: 45px;
  display: flex;
  align-items: center;
}

.Showall-btn{
 background: #4aa3e0;
  color: #fff;
}

.Showall-btn:hover {
  background: #3b8cc0;
  transform: translateY(-1px);
}
.Showall-btn:active {
  transform: scale(0.97);
}

/* Reset Button */
.reset-btn {
  background: #d4edf9;
  color: #2c7a9a;
}
.reset-btn:hover {
  background: #b9e0f2;
  transform: translateY(-1px);
}
.reset-btn:active {
  transform: scale(0.97);
}

/* Table */
.custom-table {
  width: 100%;
  border-collapse: collapse;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(180, 190, 210, 0.15);
}

/* Table Header */
.custom-table th {
  background: #4aa3e0; /* header in main blue */
  color: #ffffff;
  padding: 12px;
  cursor: pointer;
  font-weight: 600;
  text-align: left;
  border-bottom: 2px solid #3b8cc0;
  letter-spacing: 0.3px;
}
.sortable:hover {
  background: #3b8cc0;
}

/* Table rows */
.custom-table td {
  padding: 10px 12px;
  border-bottom: 1px solid #eef2fb;
  color: #2e3b5f;
  font-size: 14px;
}
.custom-table tbody tr:hover {
  background: #f0f8ff;
}

/* No data */
.no-data {
  text-align: center;
  padding: 14px;
  color: #7a8ba8;
  font-style: italic;
}

/* Pagination */
.pagination {
  margin-top: 14px;
  display: flex;
  justify-content: center;
  gap: 8px;
  font-size: 14px;
}

.pagination button {
  background: #4aa3e0;
  color: #fff;
}
.pagination button:hover {
  background: #3b8cc0;
  transform: translateY(-1px);
}
.pagination button:disabled {
  background: #d4edf9;
  color: #7a8ba8;
  cursor: not-allowed;
}
.pagination span {
  align-self: center;
  font-weight: 500;
  color: #2e3b5f;
}
